/*table layout for classname match-info*/
.match-info {
  text-align: center;
  margin: 40px;
}

/*header aligenment inside classname*/
.match-info .header h1 {
  font-size: 24px;
  margin-bottom: 20px;
}