/* src/MatchInfo.css */
.match-info {
  text-align: center;
  margin: 20px;
}

.match-info .header h1 {
 
  font-size: 24px;
  margin-bottom: 20px;
}

.match-info table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 5;
}

.match-info th, .match-info td {
  border: 1px solid #ddd;
  padding: 8px;
}

.match-info th {
  background-color: #f4f4f4;
  
}

.match-info th.centered {
  text-align: center;
}
